html, body {
  font-size: 14px;
  /*height: 100%;
  /*margin: 0px;
  padding: 0px;*/
}

/*md-sidenav {
    max-width: 200px;
    max-height: 300px;
    background-color: lightgray;
}

md-list-item > button {
  width: 100%;
  text-align:left !important;
}*/

/*#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}*/

.fill-height {
  /*display: flex;*/
  /*flex: 1;*/
  min-height: 90%;
}

/*.fill-height > div {*/
  /*min-height: 100%;*/
  /*display: flex;*/
/*}*/

.md-toolbar-tools {
  font-size: 35px;
}

.md-content ._md.flex {
  padding-left: 30px;
}

/*.side-nav .md-button-toggle .md-button {
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}*/

/*.nav-toggle-list {
  font-size: 4px;
}*/

#sidenavigation {
  max-width: 270px;
}

.side-nav .md-button {
  text-align: left;
  font-size: 15px;
}

.side-nav .md-button > md-icon {
  padding-right: 10px;  
}

.side-nav .md-button.active {
  color: blue;
}

.nav-toggle-list {
  font-size:5px;
}

.externalLinks {
  background-color: lightgray;
  /*max-width: 200px; */
   
}

.externalLinks > a.md-button { 
  /*background-color: pink;*/
  min-width: 65px;
}


.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

/*.side-nav .md-button > ul {
  
  font-size: px;
}*/

/*.side-nav .md-button > a {
  font-size: 5px;
}*/

.webprojectspage{
  padding-right: 5px;
  padding-left: 5px;
}

.androidprojectspage {
  padding-right: 5px;
  padding-left: 5px;
}

.aboutpage {
  padding-left: 30px;
  padding-top: 20px;
}

.contactpage {
  padding-left: 30px;
  padding-top: 20px;
}

.contactpagebuttons > .md-button:hover {
  
}


#docs-nav-Portfolio li:first-child  {
  font-size: 5px;
  color: #dce775;
  margin-left: -20px;
}

#docs-nav-Portfolio li:nth-child(2)  {
  color: #72d572;
  margin-left: -20px;
}

#profile {
  max-width: 250px;
}

#wikidietcard {
  background-color: #B0BEC5;
}

#wikidiet {
  max-width: 225px;
}

#foodcartfindercard {
  background-color: #FF5722;

}

#foodcartfinder {
  max-width: 125px
}

#pdxweathercard {
  background-color: #FFAB40;
}

#pdxweather {
  max-width: 100px;
  border-radius: 7%;
}

#toolbar-top {
  padding-left: 25px;
}

#linkedincontact:hover {
  background-color: #0077B5; color: white;
}

#twittercontact:hover {
  background-color: #1DA1F2; color: white
}


