html, body {
  font-size: 14px;
  /*height: 100%;
  /*margin: 0px;
  padding: 0px;*/
}

/*md-sidenav {
    max-width: 200px;
    max-height: 300px;
    background-color: lightgray;
}

md-list-item > button {
  width: 100%;
  text-align:left !important;
}*/

/*#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}*/

.fill-height {
  /*display: flex;*/
  /*flex: 1;*/
  min-height: 90%;
}

/*.fill-height > div {*/
  /*min-height: 100%;*/
  /*display: flex;*/
/*}*/

.md-toolbar-tools {
  font-size: 35px;
}

/*.nav-toggle-list {
  font-size: 4px;
}*/

.side-nav .md-button {
  text-align: left;
  font-size: 20px;
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

/*.side-nav .md-button > ul {
  
  font-size: px;
}*/

/*.side-nav .md-button > a {
  font-size: 5px;
}*/


#docs-nav-Portfolio li:first-child  {
  color: #dce775;
}

#docs-nav-Portfolio li:nth-child(2)  {
  color: #72d572;
}

#profile {
  max-width: 250px;
}

