<div class="contactpage">
  <h4>Connect and follow me on LinkedIn, GitHub, and Twitter!</h4>

  <div class="contactpagebuttons">
    <md-button id="linkedincontact" href="https://www.linkedin.com/in/nathanpickard/" target="_blank">

      <md-icon md-svg-icon="linkedin" aria-label="Go to LinkedIn"></md-icon>
    </md-button>
    <md-button href="https://github.com/NathanPickard" target="_blank">

      <md-icon md-svg-icon="github" aria-label="Go to GitHub"></md-icon>
    </md-button>
    <md-button id="twittercontact" href="https://twitter.com/NathanPickard" target="_blank">

      <md-icon md-svg-icon="twitterWhite" aria-label="Go to Twitter"></md-icon>
    </md-button>

  </div>

</div>