<div class="androidprojectspage">

  <h2>Android Applications</h2>
  <p>All of my Android application were built using Android Studio</p>

  <md-card id="pdxweathercard">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">PDX Weather</span>
        <span class="md-subhead">Native Android app, Java</span>
        <img ng-src="./img/pdxweather.png" id="pdxweather" class="md-card-image" alt="">
      </md-card-header-text>
    </md-card-header>
    <md-card-actions layout="" layout-align="start|center|end|space-around|space-between start|center|end|stretch">
      <md-button href="https://play.google.com/store/apps/details?id=apps.nathanpickard.PDXWeather&hl=en" target="_blank">Google Play</md-button>
      <md-button href="https://github.com/NathanPickard/Stormy_2016" target="_blank">GitHub</md-button>
      <md-card-icon-actions>
      </md-card-icon-actions>
    </md-card-actions>
    <md-card-content>
      <p>A weather app dedicated to the Portland metro area! Instantly find out the current, 48 hour, and 7 day forecast of
        downtown Portland, Beaverton, Hillsboro, Gresham and more! Avoid the clutter of other weather apps and get the most
        important weather information quickly in this easy to use app!</p>
    </md-card-content>
  </md-card>

  <md-card id="bbcountercard">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">B-Ball Counter</span>
        <span class="md-subhead">Native Android app, Java</span>
        <img ng-src="./img/bbcounter.png" id="bbcounter" class="md-card-image" alt="">
      </md-card-header-text>
    </md-card-header>
    <md-card-actions layout="" layout-align="start|center|end|space-around|space-between start|center|end|stretch">
      <md-button href="https://play.google.com/store/apps/details?id=apps.nathanpickard.courtcounter&hl=en" target="_blank">Google Play</md-button>
      <md-button href="https://github.com/NathanPickard/B-BallCounter" target="_blank">GitHub</md-button>
      <md-card-icon-actions>
      </md-card-icon-actions>
    </md-card-actions>
    <md-card-content>
      <p>Use this basketball score keeper to keep track of a game! Court is now in session!</p>
    </md-card-content>
  </md-card>

  <md-card id="nateswingscard">
    <md-card-header>
      <md-card-header-text>
        <span class="md-title">Nate's Wings</span>
        <span class="md-subhead">Native Android app, Java</span>
        <img ng-src="./img/nateswings.png" id="nateswings" class="md-card-image" alt="">
      </md-card-header-text>
    </md-card-header>
    <md-card-actions layout="" layout-align="start|center|end|space-around|space-between start|center|end|stretch">
      <md-button href="https://play.google.com/store/apps/details?id=apps.nathanpickard.natesgrill&hl=en" target="_blank">Google Play</md-button>
      <md-button href="https://github.com/NathanPickard/NatesWings" target="_blank">GitHub</md-button>
      <md-card-icon-actions>
      </md-card-icon-actions>
    </md-card-actions>
    <md-card-content>
      <p>Order chicken wings from Nate's wings(mock restaurant) right from your android smartphone with this app! An email is sent to you after you submit your order.</p>
    </md-card-content>
  </md-card>

</div>