<h2>Android Applications</h2>

<div flex-xs flex-gt-xs="50" layout="column">
  <md-card>
    <img ng-src="{{imagePath}}" class="md-card-image" alt="">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Action buttons</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p>Content goes in here</p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button>Action 1</md-button>
      <md-button>Action 2</md-button>
    </md-card-actions>
  </md-card>
</div>